---
import { SITE } from "../config";
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
	<div class="bg-slate-100 min-h-screen text-center">
		<header
			class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-700 to-black"
		>
			<div class="flex items-center justify-center p-4">
				<img
					src="/astro-design-system-logo.svg"
					alt="Astro Design System Logo"
				/>
			</div>
			<h1 class="text-white text-4xl font-medium drop-shadow-sm">
				{SITE.title}
			</h1>
			<p class="text-lg mt-4 text-slate-300">{SITE.description}</p>
		</header>
	</div>
</IndexLayout>

<script is:inline></script>
