---
import { SITE } from "../../config";
---

<header
	class="fixed w-full z-30 md:bg-opacity-90 transition duration-300 ease-in-out bg-white backdrop-blur shadow-lg dark:bg-neutral-900"
>
	<div class="max-w-6xl mx-auto px-5 sm:px-6">
		<nav title="Top Navigation" class="max-w-6xl mx-auto px-5 sm:px-6">
			<div class="flex items-center justify-between h-16 md:h-20">
				<div class="flex-shrink-0 mr-4">
					<a class="text-2xl font-medium" href="/">
						<h1>
							{SITE.title ?? "Documentation"}
						</h1>
					</a>
				</div>
				<div class="flex gap-2">
					<!-- <button onclick="toggleDarkMode()">theme</button> -->
					{
						SITE.github && (
							<a
								title="Github"
								class="opacity-80 hover:opacity-100 hover:bg-slate-200 p-2 rounded-full transition-colors"
								href={"https://github.com/" + SITE.github}
							>
								<img
									class="h-7"
									src="/github.svg"
									alt="github logo"
								/>
							</a>
						)
					}
				</div>
			</div>
		</nav>
	</div>
</header>

<script is:inline>
	// function toggleDarkMode() {
	// 	const body = document.body;
	// 	body.classList.toggle('dark');
	// 	console.log('dark mode toggled');
	// }
</script>
